
@font-face {
	font-family: "rkicons";
	src: url('/static/locales/custom/fonts/rkicons/rkicons.eot');
	src: url('/static/locales/custom/fonts/rkicons/rkicons.eot?#iefix') format('eot'),
		url('/static/locales/custom/fonts/rkicons/rkicons.woff') format('woff'),
		url('/static/locales/custom/fonts/rkicons/rkicons.ttf') format('truetype'),
		url('/static/locales/custom/fonts/rkicons/rkicons.svg#rkicons') format('svg');
}

[class*='rkicon-']:before {
	font-family: "rkicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.rkicon-email:before {
	content: "\E001";
}

.rkicon-phone:before {
	content: "\E002";
}

.rkicon-whatsapp:before {
	content: "\E003";
}
