// -------------------------------------
// Media queries
// -------------------------------------

$screen-1920: 1920px !important;
$screen-1870: 1870px !important;
$screen-1260: 1260px !important;
$screen-1200: 1200px !important;

// Variável para o tamanho do container final
$screen-container: $config-screen-container;
