body.home {
    @include global {
        #main {
            .container {
                margin: 0px auto;
                max-width: 100% !important;
                padding: 0 !important;
                width: 100% !important;

                .aside {
                    display: $dn;
                }

                .row {
                    background: transparent;
                    height: auto !important;
                    margin: 0 auto;
                    max-width: $screen-container;
                    padding: 0 10px !important;
                    width: 100% !important;

                    &.fullscreen {
                        max-width: $screen-1920;
                        padding: 0 !important;
                    }
                }

                .principal {
                    background-color: color(light);
                    padding: 10px 0 !important;

                    .b-main,
                    .b-main-mobile {
                        float: $fn;
                        margin: 0px auto;
                        max-width: 100%;
                        padding: 0;
                        width: 100%;
                        ul {
                            align-content: center;
                            align-items: center;
                            display: $df;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;

                            li {
                                margin: 0;
                                overflow: visible;
                                width: 210px !important;
                            }

                            img {
                                display: $db;
                                height: auto;
                                margin: 0 auto;
                                width: 100%;
                            }

                            a {
                                cursor: pointer !important;
                                display: $db;

                                @include hover {
                                    opacity: 0.7;
                                }
                            }

                            .owl-carousel {
                                margin-bottom: 0;

                                .owl-item {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .topo {
                    background-color: color(light);
                    padding: 0 !important;

                    .b-top,
                    .b-top-mobile {
                        float: $fn;
                        margin: 0px auto;
                        max-width: 100%;
                        padding: 0;
                        width: 100%;
                        ul {
                            margin: 0 auto;
                            img {
                                display: $db;
                                height: auto;
                                margin: 0 auto;
                                width: 100%;
                            }

                            a {
                                cursor: pointer !important;
                                display: $db;

                                @include hover {
                                    opacity: 0.7;
                                }
                            }

                            .owl-carousel {
                                margin-bottom: 0;

                                .owl-controls {
                                    max-width: $screen-1920;
                                }

                                .owl-item {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .entre-vitrines {
                    background-color: color(light, light);
                    padding: 0 !important;

                    .b-betweenvit,
                    .b-betweenvit-mobile {
                        background-color: color(light, light);
                        margin-bottom: 0;
                        padding: 0;

                        ul {
                            display: $df;
                            float: $fn;
                            margin: 0 auto;
                            max-width: 100%;
                            padding: 0;
                            width: 100%;

                            li {
                                float: $fn;
                                margin: 0;
                                padding: 0;
                            }

                            a {
                                cursor: pointer !important;
                                display: $db;

                                @include hover {
                                    opacity: 0.7;
                                }
                            }

                            img {
                                display: $db;
                                height: auto;
                                margin: 0 auto;
                                width: 100%;
                            }

                            .owl-carousel {
                                margin-bottom: 0;

                                .owl-item {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    &.entre-one {
                        ul {
                            justify-content: space-between;
                            li {
                                margin: 0 20px 0 0;
                                max-width: 100%;
                                padding: 0;
                                width: 100%;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }

                    &.entre-two {
                        ul {
                            justify-content: space-between;
                            li {
                                margin: 0 20px 0 0;
                                max-width: 100%;
                                padding: 0;
                                width: 100%;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }

                    &.entre-three {
                        ul {
                            justify-content: space-between;
                            li {
                                margin: 0 20px 0 0;
                                max-width: 100%;
                                padding: 0;
                                width: 100%;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }

                    &.entre-four {
                        ul {
                            justify-content: space-between;
                            li {
                                margin: 0 20px 0 0;
                                max-width: 100%;
                                padding: 0;
                                width: 100%;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }

                .lojas-especiais {
                    background-color: color(light, light);
                    padding: 10px 0 !important;

                    h2 {
                        display: $dn;
                    }

                    .b-specialstore,
                    .b-specialstore-mobile {
                        background: transparent;
                        border: none;
                        float: $fn;
                        margin: 0px auto;
                        max-width: 100%;
                        padding: 0;
                        width: 100%;
                        ul {
                            align-content: center;
                            align-items: center;
                            display: $df !important;
                            flex-direction: row;
                            float: none;
                            justify-content: center;
                            margin: 0 auto;

                            &.owl-carousel {
                                margin-bottom: 0;
                                // max-width: 1240px;
                                // overflow: visible;
                                // width: 100%;

                                .owl-item {
                                    margin-bottom: 0;
                                }
                                .owl-buttons {
                                    .owl-prev {
                                        left: -10px;
                                    }
                                    .owl-next {
                                        right: -10px;
                                    }
                                }

                                .owl-wrapper-outer {
                                    margin: 0 auto;
                                }
                            }

                            li {
                                margin: 0;
                                overflow: visible;
                                // width: auto !important;
                            }

                            img {
                                display: $db;
                                height: auto;
                                margin: 0 auto;
                                width: 100%;
                            }

                            a {
                                cursor: pointer !important;
                                display: $db;

                                @include hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }

                .inferior {
                    padding: 0 !important;

                    .b-bottom,
                    .b-bottom-mobile {
                        margin: 0;
                        max-width: 100%;
                        padding: 0;
                        width: 100%;

                        ul {
                            display: $df;
                            float: $fn;
                            margin: 0 auto;
                            max-width: 100%;
                            padding: 0;
                            width: 100%;

                            li {
                                float: $fn;
                                margin: 0 20px 0 0;
                                max-width: 100%;
                                padding: 0;
                                width: 100%;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            a {
                                cursor: pointer !important;
                                display: $db;

                                @include hover {
                                    opacity: 0.7;
                                }
                            }

                            img {
                                display: $db;
                                height: auto;
                                margin: 0 auto;
                                width: 100%;
                            }

                            .owl-carousel {
                                margin-bottom: 0;

                                .owl-item {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .block-products {
                    background-color: color(light, light);
                    padding: 25px 0 !important;

                    .section {
                        padding: 0 !important;
                    }

                    &.vit-one {
                        background-color: color(light, light);
                    }

                    &.vit-two {
                        background-color: color(light, light);
                    }

                    &.vit-three {
                        background-color: color(light, light);
                    }

                    &.vit-four {
                        background-color: color(light, light);
                    }
                }
            }
        }
    }

    @include desktop {
    }

    @include mobile {
        #main {
            .container {
                .principal {
                    background-color: color(light);
                    padding: 10px 0 !important;

                    .b-main,
                    .b-main-mobile {
                        ul {
                            li {
                                padding: 0;
                                width: auto !important;
                            }

                            .owl-carousel {
                                margin-bottom: 0;

                                .owl-item {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .entre-vitrines {
                    &.entre-one {
                        ul {
                            flex-direction: column;
                            justify-content: center;

                            li {
                                margin: 0 0 10px;
                            }
                        }
                    }

                    &.entre-two {
                        ul {
                            flex-direction: column;
                            justify-content: center;

                            li {
                                margin: 0 0 10px;
                            }
                        }
                    }

                    &.entre-three {
                        ul {
                            flex-direction: column;
                            justify-content: center;

                            li {
                                margin: 0 0 15px;
                                padding: 0;
                                width: 100%;
                            }
                        }
                    }
                }

                .inferior {
                    ul {
                        li {
                            float: $fn !important;
                        }
                    }
                }
            }
        }
    }
}
