<script type="text/javascript" src="/static/locales/custom/js/mainstore.js"></script>

<script type="text/javascript" src="http://busca.implantacao.genesis.ecservice.rakutendev.com.br/Content/js/min/store.autocomplete.rkt.min.js"></script>
<script type="text/javascript">
    try {
        autocomplete_init({ baseurl: 'http://busca.implantacao.genesis.ecservice.rakutendev.com.br/', searchPanelQuery: '.search', textboxQuery: 'input', buttonQuery: '.btn' });
    } catch (r) {
        //do nothing
    }
</script>
