@model FooterBaseModel

<section class="cards-security">
    <div class="row">
        <div class="boxblock">
            <h3>pagamento</h3>
            <ul class="institucional-list cards-list">
                <li class="ico visa"></li>
                <li class="ico mastercard"></li>
                <li class="ico amex"></li>
                <li class="ico elo"></li>
                <li class="ico hipercard"></li>
                <li class="ico boleto"></li>
            </ul>
        </div>

        <div class="boxblock">
            <h3>Certificados</h3>
            <ul class="institucional-list certificates-list">
                <li><img src="/static/locales/custom/img/selo_positive.png" alt="" /></li>
            </ul>
        </div>
    </div>
</section>

<section class="info-cli">
    <div class="row">
        <p>GenComm 2019 © - Todos os Direitos Reservados</p>

        <a href="https://www.gencomm.com.br/" target="_blank">
            <img src="/static/locales/custom/img/gencomm.svg" alt="" />
        </a>
    </div>
</section>
