body {
    @include desktop {
        &.account.internal {
            #fancybox-wrap {
                height: 580px !important;
            }
        }

        &.affiliates {
            #fancybox-wrap {
                height: 580px !important;
            }
        }
    }

    &.alterarSenha {
        @include global {
            overflow: visible !important;

            .collum {
                > fieldset {
                    padding: 0px;
                }
            }
        }

        @include desktop {
        }

        @include mobile {
        }
    }
}
