body {
    @include desktop {
        &.loginpage {
            #fancybox-wrap {
                height: 580px !important;
            }
        }
    }

    &.email,
    &.forget {
        @include global {
            overflow: visible !important;
            .collum {
                margin: 0;
                fieldset {
                    padding: 0px;

                    .title-2 {
                        color: color(dark);
                        display: $db;
                        font-size: pxtorem(14px);
                        font-weight: $bold;
                    }

                    .field {
                        > span {
                            display: $db;
                        }

                        label {
                            display: $db;

                            > span {
                                display: $db;
                                width: 100%;

                                span {
                                    width: auto;
                                }
                            }

                            &.inline-container {
                                align-content: center;
                                align-items: center;
                                display: $dif;
                                flex-direction: row;
                                justify-content: flex-start;
                                margin-right: 10px;
                                width: 150px;
                                span {
                                    width: auto;
                                }
                            }
                        }

                        .msk {
                            display: $dib;
                            float: $fn;
                            width: 160px;

                            &.ddd {
                                width: 50px;
                            }

                            &.phone {
                                width: 180px;
                            }
                        }

                        .cpf,
                        .cnpj {
                            float: none;
                            width: 100% !important;
                        }

                        .date {
                            align-content: center;
                            align-items: center;
                            display: $dib;
                            justify-content: flex-start;
                            width: 100%;

                            .msk {
                                float: none;
                                width: 70px;
                            }
                        }

                        &.radio {
                            label {
                                align-content: center;
                                align-items: center;
                                display: $dif;
                                flex-direction: row;
                                float: $fn;
                                justify-content: flex-start;

                                input {
                                    display: $dib;
                                    float: $fn;
                                }

                                span {
                                    display: $dib;
                                    float: $fn;
                                }
                            }
                        }
                    }

                    .pj-only {
                        .field {
                            margin-top: 15px;
                        }
                    }

                    .btn {
                        float: right !important;
                        margin-top: 20px;
                    }
                }
            }
        }

        @include desktop {
        }

        @include mobile {
        }
    }
}
