body.my-lists {
    @include global {
        #main {
            padding-bottom: 50px;

            .main-content > h2 {
                color: color(dark);
                font-size: pxtorem(14px);
                margin-bottom: 10px;
            }

            .aside {
                display: $db;
                margin: 0 20px 0 0;
                overflow: visible;
                padding: 0;
                width: 220px;

                .side-list-details {
                    align-content: flex-start;
                    align-items: flex-start;
                    background-color: color(light, light);
                    border: none;
                    border-radius: $rs;
                    box-shadow: 0px 0px 1px 1px color(light);
                    display: $df;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-bottom: 15px;
                    margin-top: 2px;
                    overflow: hidden;
                    padding: 10px;

                    .side-name-list {
                        color: color(primary);
                        display: $db;
                        font-size: pxtorem(16px);
                        font-weight: $bold;
                        margin-bottom: 10px;
                        padding: 0;
                    }

                    .side-date-list {
                        color: color(dark);
                        display: $db;
                        font-size: pxtorem(14px);
                        font-weight: $regular;
                        margin-bottom: 10px;
                        padding: 0;
                    }

                    .box-dados {
                        margin: 15px 0;

                        span {
                            color: color(dark);
                            font-size: pxtorem(14px);
                            font-weight: $regular;
                            line-height: 1.4;
                            margin-bottom: 10px;

                            strong {
                                display: $db;
                                font-size: pxtorem(12px);
                                width: 100%;
                            }
                        }
                    }

                    .side-local-list {
                        color: color(dark);
                        font-size: pxtorem(14px);
                        font-weight: $regular;
                        line-height: 1.4;
                        padding: 0;

                        span {
                            color: color(dark);
                            font-size: pxtorem(14px);
                            font-weight: $regular;
                            line-height: 1.4;
                        }
                    }

                    .side-list-details-helps {
                        border-top: 1px solid color(light);
                        margin: 10px 0 0;
                        padding-top: 10px;

                        li {
                            margin-bottom: 5px;
                            padding: 0;
                        }

                        a {
                            background-color: color(primary) !important;
                            border: 1px solid color(primary) !important;
                            border-radius: $rs;
                            color: color(light, light);
                            display: $db !important;
                            margin: 0 auto;
                            padding: 10px 15px;
                            text-transform: none;

                            &:before {
                                display: $dn;
                            }

                            @include hover {
                                background-color: color(primary, dark) !important;
                                color: color(light, light);
                            }
                        }
                    }
                }

                .block {
                    align-content: flex-start;
                    align-items: flex-start;
                    background-color: color(light, light);
                    border: none;
                    border-radius: $rs;
                    box-shadow: 0px 0px 1px 1px color(light);
                    display: $df;
                    flex-direction: column;
                    justify-content: flex-start;
                    overflow: hidden;
                    padding: 0;

                    my-lists {
                        width: 100%;
                    }

                    .title {
                        align-content: center;
                        align-items: center;
                        background: transparent;
                        background-color: color(primary);
                        color: color(light, light);
                        display: $df;
                        font-family: $base;
                        font-size: pxtorem(14px);
                        font-weight: $bold;
                        justify-content: center;
                        padding: 10px;
                        text-transform: capitalize;
                        width: 100%;

                        .ico {
                            background: none;
                            color: color(light, light);
                            padding: 0;
                        }

                        &::before,
                        &::after {
                            display: $dn;
                        }
                    }

                    ul {
                        align-content: flex-start;
                        align-items: flex-start;
                        display: $df;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin: 0;
                        width: 100%;

                        li {
                            background: color(light, light);
                            border-bottom: 1px solid color(light);
                            border-top: none;
                            margin: 0;
                            padding: 0;
                            width: 100%;

                            &:last-child {
                                border: none;
                            }

                            a {
                                background: color(light, light);
                                color: color(dark);
                                font-family: $base;
                                font-size: pxtorem(14px);
                                padding: 10px;
                                text-transform: none;

                                @include hover {
                                    background: color(light);
                                    color: color(dark);
                                }

                                &::before {
                                    display: $dn;
                                }
                            }
                        }
                    }
                }

                .side-new-list-link {
                    background-color: transparent;
                    padding: 15px;

                    .btn {
                        width: 100%;
                    }
                }
            }

            .form {
                align-content: flex-start;
                align-items: flex-start;
                display: $df;
                flex-wrap: nowrap;
                justify-content: center;
                margin: 0px 0 50px;
            }

            .box {
                background-color: transparent;
                border: 1px solid color(light);
                border-radius: $rs;
                float: none;
                height: auto;
                margin: 0 10px;
                padding: 0;
                width: 50%;

                fieldset {
                    padding: 15px;

                    .title {
                        border-bottom: 1px solid color(light);
                        color: color(dark);
                        font-size: pxtorem(20px);
                        line-height: 1.4;
                        margin-bottom: 30px;
                        padding-bottom: 10px;
                    }

                    .actions {
                        display: $df;
                        justify-content: flex-start;

                        .btn {
                            float: none !important;
                            min-width: 150px;
                        }
                    }

                    > ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            a {
                                color: color(primary);

                                @include hover {
                                    color: color(primary, dark);
                                }
                            }
                        }
                    }

                    .field {
                        display: $db;
                        float: none;
                        margin-bottom: 15px;
                        padding: 0;
                        width: 100%;

                        input,
                        select {
                            float: none;
                            margin: 0;
                            max-width: 100%;
                            width: 100%;
                        }

                        label {
                            span {
                                color: color(dark);
                                display: $db;
                                float: none;
                                font-size: pxtorem(14px);
                                font-weight: $regular;
                                line-height: 1.4;
                                margin-bottom: 5px;
                                text-align: left;
                                width: 100%;
                            }

                            .date {
                                align-content: center;
                                align-items: center;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                height: auto;
                                justify-content: flex-start;
                                margin: 0;

                                span {
                                    display: $dib;
                                    margin: 0 3px;
                                    width: auto;
                                }

                                input {
                                    display: $dib;
                                    width: 75px !important;
                                }
                            }

                            &.contact-email {
                                align-content: center;
                                align-items: center;
                                display: $df;
                                justify-content: flex-start;
                                margin: 20px 0 0;

                                span {
                                    margin: 0;
                                }
                            }

                            &.lbl-email-contato {
                                margin-top: 15px;
                            }
                        }

                        &.radio {
                            display: $df;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            margin: 30px 0;

                            span {
                                color: color(dark);
                                display: $db;
                                font-size: pxtorem(14px);
                                font-weight: $regular;
                                line-height: 1.4;
                                margin-bottom: 5px;
                                text-align: left;
                                width: 100%;
                            }

                            label {
                                align-content: center;
                                align-items: center;
                                display: flex;
                                justify-content: flex-start;
                                margin: 0 30px 0 0;
                                width: auto;

                                span {
                                    margin: 0;
                                }
                            }

                            &.person,
                            &#divNaoRestrita {
                                label {
                                    &:first-child {
                                        margin: 0 0 10px 0;
                                        width: 100%;
                                    }
                                }
                            }

                            &.radio-group {
                                margin: 0;
                            }

                            .date {
                                align-content: center;
                                align-items: center;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                height: auto;
                                justify-content: flex-start;
                                margin: 15px 0 0;
                                width: 100%;

                                span {
                                    display: $dib;
                                    margin: 0 3px;
                                    width: auto;
                                }

                                input {
                                    display: $dib;
                                    width: 75px !important;
                                }
                            }
                        }

                        &.web-site {
                            margin-top: 10px;
                            label {
                                float: none;
                                width: auto;

                                &:last-child {
                                    margin-top: 15px;
                                }
                            }

                            input {
                                width: 100%;
                            }

                            .btn {
                                float: none !important;
                                margin: 10px 0 20px;
                            }
                        }

                        &.friend-url {
                            margin-top: 10px;
                            label {
                                float: none;
                                width: auto;

                                &:last-child {
                                    margin-top: 15px;
                                }
                            }

                            input {
                                width: 100%;
                            }

                            .btn {
                                float: none !important;
                                margin: 10px 0 20px;
                            }
                        }

                        &.file-upload {
                            margin-bottom: 0;

                            label {
                                display: $df;
                                flex-direction: row;
                                flex-wrap: wrap;

                                span {
                                    width: 100%;
                                }

                                input {
                                    flex: 1;
                                }
                            }

                            .field-file {
                                height: 42px;
                                left: 0;
                                opacity: 0;
                                position: absolute;
                                top: 25px;
                                width: 80%;
                            }
                        }
                    }
                }

                .form {
                    margin-bottom: 0;
                }
            }

            .create-list,
            .chosen-list {
                display: $db;

                .box {
                    display: $db;
                    margin: 0 auto 20px;
                    max-width: 400px;
                    padding: 10px;
                    width: 100%;

                    fieldset {
                        padding: 0;
                    }
                }

                fieldset {
                    .actions {
                        display: $db;
                        margin: 0 auto;
                        max-width: 400px;
                        padding: 0;
                        text-align: center;
                        width: 100%;

                        .btn {
                            float: none !important;
                            margin: 0 5px;
                            min-width: 150px;
                        }
                    }
                }
            }

            .list-results {
                > p {
                    color: color(dark);
                    font-size: pxtorem(14px);
                    line-height: 1.4;
                    margin-bottom: 10px;
                }

                .box {
                    margin: 0 0 10px 0;
                    width: 100%;

                    .field {
                        align-content: center;
                        align-items: center;
                        display: $df;
                        flex-direction: row;
                        justify-content: flex-start;
                        margin: 0;
                        padding: 10px;

                        label {
                            align-content: center;
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            margin: 0;
                            padding: 0;

                            span {
                                margin: 0 10px 0 0;
                            }

                            select {
                                min-width: 100px;
                            }
                        }

                        .search {
                            margin: 0 0 0 10px !important;
                            position: $pr;
                        }
                    }
                }

                .eventlists {
                    margin-top: 15px;
                }
            }

            .my-list-box {
                align-content: center;
                align-items: center;
                background-color: transparent;
                border: 1px solid color(light);
                border-radius: $rs;
                display: $df;
                justify-content: flex-start;
                margin: 0 0 15px 0;
                padding: 20px;

                .name-list {
                    color: color(primary);
                    display: $df;
                    flex-direction: column;
                    font-size: pxtorem(16px);
                    font-weight: $bold;
                    justify-content: flex-start;
                    margin-bottom: 0;
                    text-align: left;
                    width: 150px;

                    a {
                        color: color(primary);
                        display: $db;
                        font-size: pxtorem(16px);
                        font-weight: $bold;
                        margin-bottom: 10px;

                        @include hover {
                            color: color(primary, dark);
                        }
                    }

                    small {
                        color: color(dark);
                        font-size: pxtorem(14px);
                        font-weight: $regular;
                        padding: 0;
                    }
                }

                .box-dados-my-lists {
                    border-left: 1px solid color(light);
                    display: $df;
                    flex-direction: column;
                    padding-left: 20px;
                    text-align: left;
                    width: 100%;

                    span {
                        color: color(dark);
                        display: $dib;
                        font-size: pxtorem(14px);
                        font-weight: $regular;
                        margin-bottom: 10px;
                        padding: 0;
                        text-align: left;

                        &.dados-confirm {
                            display: $db;
                        }
                    }

                    .dados-my-list-helps {
                        margin: 10px 0 0;

                        li {
                            padding: 0;
                        }

                        a {
                            background-color: color(primary) !important;
                            border: 1px solid color(primary) !important;
                            border-radius: $rs;
                            color: color(light, light);
                            display: $db !important;
                            margin: 0 auto;
                            padding: 10px 15px;
                            text-transform: none;

                            @include hover {
                                background-color: color(primary, dark) !important;
                                color: color(light, light);
                            }
                        }
                    }
                }

                .my-list-box-footer {
                    border-left: 1px solid color(light);
                    display: $df;
                    flex-direction: column;
                    padding-left: 20px;
                    text-align: left;
                    width: 200px;

                    span {
                        display: $df;
                        flex-direction: column;
                        font-size: pxtorem(14px);
                        font-weight: $bold;
                        width: 100%;

                        a {
                            color: color(primary);
                            display: $db;
                            font-size: pxtorem(14px);
                            font-weight: $bold;
                            margin-bottom: 10px;
                            padding: 0;

                            @include hover {
                                color: color(primary, dark);
                            }

                            &::before,
                            &::after {
                                display: $dn;
                            }
                        }
                    }
                }
            }

            .contact-email {
                span {
                    display: $dib;
                }
            }

            .confirm-bts {
                align-content: center;
                align-items: center;
                display: $df;
                justify-content: flex-start;

                .editar-dados {
                    align-content: center;
                    align-items: center;
                    background-color: color(primary) !important;
                    border: 1px solid color(primary) !important;
                    border-radius: $rs;
                    color: color(light, light);
                    display: $df;
                    font-size: pxtorem(14px);
                    font-weight: $bold;
                    justify-content: center;
                    margin: 0 10px 0 0;
                    min-height: 42px;
                    min-width: 42px;
                    padding: 0.375rem 0.75rem;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:before {
                        display: $dn;
                    }

                    @include hover {
                        background-color: color(primary, dark) !important;
                        color: color(light, light);
                    }
                }
            }

            #BlocoOrdenar,
            #BlocoMoverCopiar {
                align-content: center;
                align-items: center;
                background-color: transparent;
                border: 1px solid color(light);
                border-radius: $rs;
                display: $df;
                flex-direction: row;
                flex-wrap: wrap;
                height: auto;
                justify-content: flex-start;
                margin: 0 0 20px;
                padding: 10px;
                width: 100%;

                .field {
                    align-content: center;
                    align-items: center;
                    display: $df;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    margin: 0;
                    padding: 0;
                    width: auto;

                    label {
                        align-content: center;
                        align-items: center;
                        display: $df;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        float: $fn;
                        justify-content: flex-start;
                        margin: 0 15px 0 0;
                        width: auto;
                    }

                    span {
                        display: $db;
                        float: $fn;
                        font-size: pxtorem(14px);
                        height: auto;
                        line-height: inherit;
                        margin: 0 5px 0 0;
                        width: auto;
                    }

                    select {
                        max-width: 300px;
                        width: 175px;
                    }

                    .search {
                        float: $fn !important;
                        position: inherit;
                    }
                }
            }

            #ListaItens {
                display: $db;
                margin: 0;
                overflow: visible;
                padding: 0;

                li {
                    border: 1px solid color(light);
                    margin-bottom: 30px;
                    overflow: visible;
                    padding: 10px;
                    width: 100%;
                    @include radius($rs);
                    @include flexbox(flex, row, nowrap, space-between, inherit, flex-start);

                    .figure {
                        align-content: center;
                        align-items: center;
                        display: $df;
                        float: $fn;
                        justify-content: center;
                        margin-bottom: 0px;
                        margin-left: 0;
                        margin-right: 0;
                        max-height: 300px;
                        order: 1;
                        overflow: hidden;
                        width: calc(100% / 4);

                        .photo {
                            border: none !important;
                            display: $db;
                            margin: 0 auto;
                            max-width: 400px;
                            width: 100%;
                        }
                    }

                    .box.details {
                        background: color(light);
                        border: 1px solid color(light);
                        display: $db;
                        float: $fn;
                        height: auto;
                        margin-left: 20px;
                        order: 2;
                        padding: 10px;
                        text-align: left;
                        width: calc(100% / 4);

                        .added {
                            color: color(dark);
                            font-size: pxtorem(14px);
                            font-weight: $regular;
                            strong {
                                color: color(dark);
                                font-size: pxtorem(14px);
                                font-weight: $bold;
                            }

                            > a {
                                font-size: 0px;
                                line-height: 1;
                                position: $pa;
                                right: 5px;
                                text-decoration: none;
                                top: 5px;

                                &:before {
                                    background: #fff;
                                    @include set-icon($fa-var-times-circle, 30px, $solid, color(dark));
                                }
                            }
                        }

                        .situation {
                            color: color(dark);
                            font-size: pxtorem(14px);
                            font-weight: $regular;
                            strong {
                                color: color(dark);
                                font-size: pxtorem(14px);
                                font-weight: $bold;
                            }
                            a {
                                color: color(primary);
                                font-size: pxtorem(14px);
                                font-weight: $bold;
                                text-transform: capitalize;
                                &:hover {
                                    color: color(primary, dark);
                                    text-decoration: none;
                                }
                            }
                        }

                        .offers {
                            height: auto;

                            .regular {
                                font-size: pxtorem(0);
                                del {
                                    color: color(dark);
                                    font-size: pxtorem(14px);
                                    font-weight: $regular;

                                    text-decoration: line-through;
                                    text-transform: uppercase;
                                }
                            }
                        }

                        .price:not(.percent-a-vista) {
                            align-content: flex-start;
                            align-items: flex-start;
                            background-color: transparent;
                            display: $df;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-size: pxtorem(0);

                            height: auto !important;
                            justify-content: flex-start;
                            line-height: 1.4;

                            margin-bottom: 0px;
                            padding: 0;
                            text-decoration: none;

                            span {
                                color: color(dark);
                                display: $db !important;
                                font-size: pxtorem(0);
                                font-style: normal;
                                font-weight: $regular;
                                line-height: 1.4;
                                margin: 0 3px;
                                text-decoration: none;
                            }

                            em {
                                color: color(dark);
                                display: $dn;
                                font-size: pxtorem(12px);
                                font-style: normal;
                                font-weight: $regular;
                                line-height: 1.4;
                                margin: 0 3px;
                            }

                            strong,
                            strong > span {
                                color: color(primary);
                                display: $db !important;
                                font-size: pxtorem(20px);
                                font-style: normal;
                                font-weight: $bold;
                                line-height: 1.4;
                                margin: 0 3px;
                            }

                            &.product-priceper {
                                .value-sight {
                                    color: color(dark);
                                    display: $db !important;
                                    font-size: pxtorem(18px);
                                    font-style: normal;
                                    font-weight: $bold;
                                    line-height: 1.4;
                                    margin: 0 3px;
                                }
                            }
                        }

                        .percent-a-vista {
                            align-content: flex-end;
                            align-items: flex-end;
                            color: color(dark);
                            display: $df;
                            flex-direction: row;
                            font-size: pxtorem(14px);
                            font-weight: $regular;
                            justify-content: flex-start;
                            margin-top: 5px;
                            width: 100%;
                            * {
                                font-style: normal;
                            }
                            .value-sight,
                            .value-percentage {
                                color: color(dark);
                                font-size: pxtorem(14px);
                                font-weight: $bold;
                            }
                        }

                        .parcel {
                            align-content: flex-end;
                            align-items: flex-end;
                            color: color(dark);
                            display: $df;
                            flex-direction: row;
                            font-size: pxtorem(14px);
                            font-weight: $regular;
                            height: auto;
                            justify-content: flex-start;
                            margin-bottom: 10px;
                            strong {
                                color: color(dark);
                                margin: 0 3px;
                            }
                        }

                        .notifyme {
                            padding: 0;
                            span {
                                color: color(primary);
                                font-size: pxtorem(12px);
                                font-weight: $bold;
                                line-height: 1;
                                text-transform: uppercase;
                            }

                            strong {
                                font-size: pxtorem(0px);

                                &:before {
                                    color: color(danger);
                                    content: 'indisponível';
                                    display: $db;
                                    font-size: pxtorem(12px);
                                    font-weight: $bold;
                                    line-height: 1;
                                    margin-bottom: 0;
                                    text-transform: uppercase;
                                }
                            }

                            label {
                                margin-bottom: 10px;
                                margin-top: 10px;

                                span {
                                    font-size: pxtorem(0px);
                                    margin-bottom: 10px;

                                    &:before {
                                        color: color(dark);
                                        content: 'Avise-me quando chegar';
                                        font-size: pxtorem(12px);
                                        font-weight: $bold;
                                        text-transform: uppercase;
                                    }
                                }

                                input {
                                    float: $fn;
                                    width: 100% !important;
                                }
                            }

                            .btn.send.ir {
                                min-width: inherit;
                            }
                        }

                        .buy {
                            display: $db !important;
                            height: auto !important;
                            margin: 25px auto 0;
                            position: static;
                            transform: translate(0, 0);
                            width: auto;
                        }
                    }

                    .details {
                        display: $db;
                        float: $fn;
                        height: auto;
                        margin-left: 20px;
                        order: 3;
                        padding: 10px;
                        text-align: left;
                        width: calc(100% / 4);
                        .name {
                            align-content: center;
                            align-items: center;
                            color: color(dark);
                            display: $df;
                            font-family: $base;
                            font-size: pxtorem(16px);
                            font-weight: $bold;
                            height: auto;
                            line-height: 1.4;
                            margin-bottom: 0;
                        }

                        .cod {
                            color: color(dark);
                            font-size: pxtorem(14px);
                            height: auto;
                        }

                        .skus {
                            color: color(dark);
                            font-size: pxtorem(14px);
                            height: auto;
                            justify-content: flex-start;
                            text-align: left;
                        }

                        .stamp {
                            display: $db;
                            height: auto;
                            padding: 0;
                            text-align: left;

                            a {
                                display: $dib;
                                float: $fn;
                                margin-bottom: 5px;
                                margin-left: 0;
                                margin-right: 5px;
                                max-width: 100px;
                                padding: 0;

                                img {
                                    display: $db;
                                    width: 100%;
                                }
                            }
                        }

                        .reviewaggregate {
                            height: auto;
                            justify-content: flex-start;
                            margin-top: 10px;

                            a {
                                margin: 0 10px 0 0;
                            }

                            span {
                                line-height: 1.2;
                            }

                            .count {
                                display: $dib;
                            }
                        }
                        .quantity {
                            height: auto;
                            justify-content: flex-start;
                            margin-top: 10px;

                            input {
                                text-align: center;
                            }

                            a {
                                color: color(primary);
                                margin: 0 0 0 10px;
                            }
                        }
                    }

                    .coment {
                        margin: 10px 0 0;
                        order: 4;
                        text-align: left;
                        width: calc(100% / 4);

                        .field {
                            height: auto;
                            padding: 0;

                            span {
                                font-family: $base;
                                font-size: pxtorem(18px);
                                margin-bottom: 10px;
                            }
                        }

                        .actions {
                            height: auto;
                        }

                        .message,
                        .sucess2 {
                            display: $db;
                        }
                    }

                    &.error {
                        justify-content: center;
                        padding: 20px;
                        text-align: center;

                        .return {
                            position: $pr;

                            p {
                                font-size: pxtorem(16px);
                            }

                            .buy {
                                display: $db !important;
                                height: auto !important;
                                margin: 25px auto 0;
                                position: static;
                                transform: translate(0, 0);
                                width: auto;

                                &:after {
                                    content: 'Adicionar Produtos';
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include desktop {
    }

    @include mobile {
        #main {
            .aside {
                width: 100%;
            }

            .form {
                &.list-occasions {
                    display: $df;
                    flex-wrap: wrap;
                }
            }

            .box {
                margin: 0 0 15px;
                padding: 0;
                width: 100%;

                fieldset {
                    padding: 15px;

                    .title {
                        font-size: pxtorem(16px);
                    }
                }
            }

            .list-results {
                .box {
                    .field {
                        align-content: flex-end;
                        align-items: flex-end;

                        label {
                            align-content: flex-end;
                            align-items: flex-end;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                        }
                    }
                }
            }

            .my-list-box {
                flex-direction: column;
                padding: 10px;

                .name-list {
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                }

                .box-dados-my-lists {
                    border-left: none;
                    border-top: 1px solid color(light);
                    padding-left: 0;
                    padding-top: 20px;
                    text-align: left;

                    .dados-my-list-helps a {
                        margin-bottom: 10px;
                    }
                }

                .my-list-box-footer {
                    border-left: none;
                    border-top: 1px solid color(light);
                    padding-left: 0;
                    padding-top: 20px;
                    text-align: left;
                    width: 100%;
                }
            }

            #BlocoOrdenar,
            #BlocoMoverCopiar {
                align-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;

                .field {
                    align-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 100%;

                    label {
                        background-color: transparent;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        margin: 0 0 10px;
                        padding: 0;
                        width: 100%;
                    }

                    span {
                        margin: 0;
                        text-align: left;
                        width: 90%;
                    }

                    select {
                        max-width: 100%;
                        width: 100%;
                    }
                }

                .actions {
                    align-content: center;
                    align-items: center;
                    display: $df;
                    justify-content: center;
                    margin-top: 10px;
                    width: 100%;
                }

                .btn {
                    &.ok,
                    &.search {
                        margin: 10 auto 0;
                        width: 150px;
                    }
                }
            }

            #ListaItens {
                padding: 10px;

                li {
                    position: $pr;
                    @include flexbox(flex, column, nowrap, space-between, inherit, flex-start);
                    .figure {
                        margin: 0 auto;
                        order: 1;
                        width: 100%;
                    }

                    .box.details {
                        margin-left: 0;
                        order: 3;
                        position: $pu;
                        text-align: center;
                        width: 100%;
                        .added {
                            > a {
                                background: color(light, light);
                                border-radius: 50px;
                                height: auto;
                                right: 0;
                                text-indent: 0;
                                top: 0;
                                width: auto;
                            }
                        }

                        .offers {
                            align-content: center;
                            align-items: center;
                            justify-content: center;

                            .percent-a-vista {
                                align-content: center;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .price:not(.percent-a-vista) {
                            align-content: center;
                            align-items: center;
                            justify-content: center;
                        }

                        .parcel {
                            align-content: center;
                            align-items: center;
                            justify-content: center;
                        }

                        .notifyme {
                            padding: 0;
                            input {
                                margin-bottom: 10px;
                                width: 100% !important;
                            }
                        }
                    }

                    .details {
                        margin-left: 0;
                        order: 2;
                        text-align: center;
                        width: 100%;

                        .name {
                            justify-content: center;
                            width: auto;
                        }

                        .skus {
                            justify-content: center;
                            text-align: center;
                        }

                        .stamp {
                            justify-content: center;
                            text-align: center;
                        }

                        .reviewaggregate {
                            justify-content: center;

                            .lnkAvaliacao {
                                margin: 0 0 5px 0;
                            }
                        }

                        .quantity {
                            align-content: center;
                            align-items: center;
                            display: $df;
                            flex-direction: column;
                            justify-content: flex-start;

                            a {
                                margin: 5px 0 0;
                            }
                        }
                    }

                    .coment {
                        order: 4;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}
