body.register:not(.delivery-address):not(.affiliates) {
    @include global {
        #main {
            .main-content {
                .b-top {
                    display: $df;
                    float: $fn;
                    margin: 0px auto 10px;
                    max-width: 100%;
                    padding: 0;
                    width: 100%;

                    ul {
                        img {
                            display: $db;
                            height: auto;
                            width: 100%;
                        }

                        .owl-item {
                            width: 100% !important;
                        }

                        li {
                            margin-bottom: 0;
                        }
                    }
                }

                .atention {
                    color: color(danger);
                    font-size: pxtorem(14px);
                    margin: 0 0 20px 0;
                    padding: 0;
                    text-align: center;
                    width: 100%;
                }

                .message,
                .sucess2 {
                    align-content: center;
                    align-items: center;
                    display: flex;
                    float: none;
                    height: auto;
                    justify-content: center;
                    line-height: 1.2;
                    margin: 0 auto;
                    max-width: 400px;
                    width: 100%;
                    z-index: 9;
                }

                .form {
                    display: $db;
                    margin: 0 auto;
                    max-width: 400px;
                    padding: 0;
                    width: 100%;
                    .box {
                        background-color: color(light, light);
                        border: 1px solid color(light);
                        display: $db;
                        margin: 20px auto;
                        padding: 10px;
                        width: 100%;

                        fieldset {
                            padding: 0;

                            .title {
                                color: color(dark);
                                font-size: pxtorem(15px);
                                font-weight: $bold;
                                margin: 0 0 20px 0 !important;
                            }

                            .field {
                                background-color: color(light, light);
                                border: 0;
                                display: $df;
                                flex-direction: column;
                                flex-wrap: nowrap;
                                float: $fn;
                                height: auto;
                                justify-content: center;
                                left: 0;
                                margin: 0 auto 5px;
                                overflow: auto;
                                padding: 0;
                                position: $pr;
                                text-align: center;
                                width: auto;

                                &:before,
                                &:after {
                                    display: $dn;
                                }

                                &.radio {
                                    flex-direction: row;
                                    margin: 0;

                                    label {
                                        align-content: center;
                                        align-items: center;
                                        justify-content: flex-start;
                                        margin: 0;
                                        width: 50%;

                                        input {
                                            display: $dib;
                                            position: $pr;
                                            top: 0;
                                            width: 18px !important;
                                        }

                                        span {
                                            display: $dib;
                                            font-size: pxtorem(14px);
                                            width: auto;
                                        }
                                    }
                                }

                                &.checkbox {
                                    right: 0;
                                    width: 100%;

                                    label {
                                        align-content: flex-start;
                                        align-items: flex-start;
                                        display: $df;
                                        justify-content: flex-start;
                                    }

                                    input {
                                        display: $dib;
                                        vertical-align: middle;
                                        width: 20px !important;
                                        position: $pr;
                                    }

                                    span {
                                        display: $dib;
                                        font-size: pxtorem(14px);
                                        line-height: 1.4;
                                        vertical-align: top;
                                        width: 100%;
                                        padding: 0;
                                    }
                                }

                                span {
                                    display: $db;
                                    float: $fn;
                                    font-size: pxtorem(14px);
                                    height: auto;
                                    line-height: 1;
                                    margin-bottom: 2px;
                                    text-align: left;
                                    width: auto;

                                    .req {
                                        color: color(dark);
                                        display: $dib;
                                        font-weight: normal;
                                        width: auto;
                                    }
                                    .req::first-letter {
                                        color: color(danger);
                                    }
                                }

                                label {
                                    display: $db;
                                    float: $fn;
                                    text-align: left;

                                    input,
                                    select {
                                        display: $db;
                                        float: $fn;
                                        margin: 0;
                                        text-align: left;
                                        width: 100% !important;
                                    }
                                }
                                p {
                                    display: $df;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    margin-bottom: 5px;

                                    span {
                                        order: 0;
                                        width: auto;
                                    }

                                    .req {
                                        order: 1;
                                    }
                                }

                                .ie {
                                    width: 100% !important;
                                }

                                .exempting {
                                    background-color: color(light, light);
                                    display: $db;
                                    margin-left: 0;
                                    margin-top: 15px;
                                    width: 100% !important;

                                    input {
                                        display: $dib;
                                        vertical-align: middle;
                                        width: 15px !important;
                                    }

                                    span:not(.validacao) {
                                        display: $dib;
                                        vertical-align: sub;
                                    }
                                }

                                .date {
                                    display: $db;
                                    float: $fn;
                                    margin: 0;
                                    text-align: left;
                                    width: 100%;
                                    input {
                                        display: $dib;
                                        float: $fn;
                                        padding: 0 !important;
                                        text-align: center;
                                        width: 25%;
                                    }
                                }

                                .phone {
                                    display: $db;
                                    float: $fn;
                                    margin: 0;
                                    padding: 0;
                                    text-align: left;
                                    width: 100%;
                                    input {
                                        display: $dib;
                                        float: $fn;
                                        position: $pr;
                                        text-align: left;
                                        width: 150px;

                                        &:first-child {
                                            text-align: center;
                                            width: 42px;
                                        }

                                        &:nth-child(3) {
                                            text-align: center;
                                            width: 42px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .dados {
                        border: none;
                        display: $db;
                        float: $fn;
                        margin: 0;
                        width: 100%;
                    }

                    .endereco {
                        border: none;
                        display: $db;
                        float: $fn;
                        margin: 0;
                        width: 100%;
                    }

                    .termos {
                        .checkbox {
                            align-content: flex-start;
                            align-items: flex-start;
                            display: $df;
                            justify-content: flex-start;
                            right: 0;
                            width: 100%;

                            // label{
                            // }

                            input {
                                display: $dib;
                                vertical-align: middle;
                                width: 20px !important;
                                top: 0;
                                position: $pr;
                            }

                            span {
                                display: $dib;
                                font-size: pxtorem(14px);
                                line-height: 1.4;
                                vertical-align: top;
                                width: 100%;
                                padding: 0;

                                a {
                                    display: $dib;
                                    font-weight: $bold;
                                    color: color(danger);
                                }
                            }
                        }
                    }

                    .actions {
                        float: none;
                        margin: 0 0 50px;
                        text-align: center;
                        width: 100%;
                        .btn {
                            float: $fn !important;
                            left: auto;
                            position: $pr;
                        }
                    }
                }
            }
        }
    }

    @include desktop {
    }

    @include mobile {
    }
}
