@model WelcomeBaseModel


@if(Model.HasNameCookie) {
    <div class="user-login">
        <a class="icon icon-drop link" href="@UrlSecure("/minhaconta.aspx")"><span>Olá, @Model.UserName.Split(' ')[0]!</span>
        </a>
        <a class="logout onlyMobile" href="javascript:ExcluiCookieLogin();" title="Sair" rel="nofollow">Sair</a>
    </div>

    <ul class="help iconav-user-sub dropdown left">
        <li class="myacc">
            <a id="hypMinhaConta" href="@UrlSecure("/minhaconta.aspx")">
                Minha Conta
            </a>
        </li>

        <li class="wishlist">
            <a id="hypWishList" href="@UrlSecure("/meuspedidos/index.aspx")">
                Meus Pedidos
            </a>
        </li>

        <li class="exit onlyDesktop">
            <a class="logout" href="javascript:ExcluiCookieLogin();" title="Sair" rel="nofollow">Sair</a>
        </li>
    </ul>
} else {
    <div class="user-login">
        <a class="icon link onlyDesktop" href="@UrlSecure("/login.aspx")"></a>

        <a class="icon link onlyMobile" href="@UrlSecure("/login.aspx")">
            Entre ou Cadastre-se
        </a>
    </div>

     <ul class="iconav-user-sub dropdown left">
        <li class="myacc">
            <a id="hypMinhaConta" href="@UrlSecure("/login.aspx")">
               Entrar
            </a>
        </li>

        <li class="myacc">
            <a id=""  href="@UrlSecure("/cadastro/index.aspx")">
               Cadastre-se
            </a>
        </li>
    </ul>
}
