body.lookDetalhe,
body.product:not(.quickview) {
    #main {
        .container {
            @include global {
                .tabs-block {
                    display: $db;
                    margin: 0 auto;
                    max-width: 100%;
                    overflow: hidden;
                    padding: 0;
                    width: 100%;

                    .tab-link {
                        align-content: center;
                        align-items: center;
                        display: $df;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        padding: 0;
                        position: $pr;
                        width: 100%;

                        &:before {
                            background-color: color(light);
                            content: '';
                            display: $db;
                            height: 1px;
                            position: $pa;
                            top: 53%;
                            width: 100%;
                            z-index: 0;
                        }

                        h2 {
                            background: color(light, light);
                            border: none;
                            color: color(dark);
                            cursor: pointer;
                            display: $db;
                            font-weight: $bold;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                            text-transform: uppercase;
                            width: auto;
                            @include transition();
                            position: $pr;

                            span {
                                color: color(dark);
                                background: color(light, light);
                                font-size: pxtorem(20px);
                                margin: 0;
                                padding: 0 15px;
                            }

                            &:after {
                                width: 4px;
                                content: '';
                                background: color(dark);
                            }

                            &.active {
                                background: transparent;
                                span {
                                    color: color(primary);
                                }
                            }

                            @include hover {
                                background: transparent;
                                span {
                                    color: color(primary);
                                }
                            }
                        }
                    }

                    .tab-content {
                        display: $db;
                        padding: 20px;
                        text-align: center;
                        width: 100%;

                        .section {
                            color: color(dark);
                            display: $dn;
                            font-size: pxtorem(16px);
                            line-height: 1.4;
                            padding: 0 !important;

                            &.active {
                                display: $db;
                            }
                        }
                    }
                }
            }

            @include desktop {
            }

            @include mobile {
            }
        }
    }
}
